<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">

    <title>Chamados</title>
</head>
<body>
   <div class="container">

    <header>
        <h1>Resultado Consulta Chamado TIC</h1>
    </header>
        <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Número</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Status</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr>
                    <td><%- users.id %></td>
                    <td><%- users.name %></td>
                    <td><%- users.email %></td>
                    <td><%- users.status %></td>
                    <td><%- users.empresa %></td>
                    <td><%- users.type %></td>
                    <td>
                      <button type="button" class="btn btn-warning"><a href="/admin/userlist/edit/<%- users.id %>"><i class="far fa-edit"> Editar </i></a></button>
                      <button type="button" class="btn btn-danger"><a href="/admin/userlist/delete/<%- users.id %>"><i class="far fa-edit"> Excluir </i></a></button>
                    </td>
                  </tr>
                </tbody>
              </table>
</div>    
</body>
</html>

